/* Change sidebar background */
.bd-sidebar {
    background-color: #f2f2f2 !important;   /* light grey */
}

/* Sidebar sub-sections */
.bd-sidebar .nav {
    background-color: #f2f2f2 !important;
}

/* Sidebar links: optional improvements */
.bd-sidebar .nav a {
    color: #333 !important;
}

.bd-sidebar .nav a:hover {
    background-color: #e0e0e0 !important;
}

button.fullscreen-button,
.theme-switch-button,
button#theme-switch {
    display: none !important;
}
